body {
  background-color:white;
}
h1 {
  text-align:center;
}
p {
  color:red;
  text-align:center;
}


#uno {
  color:blue
<<<<<<< HEAD

=======
  text-align;center:
>>>>>>> df13895 (committed yay)
}
